In [37]:
import pandas as pd
import requests


ids = {'WM Phoenix Open': 'R2024003','The Genesis Invitational': 'R2024007',
       'Mexico Open at Vidanta':'R2024540','Cognizant Classic':'R2024010',
       'Arnold Palmer Invitational':'R2024009', 
       'THE PLAYERS Championship':'R2024011','Valspar Championship':'R2024475'}

r1 = []
r2 = []
r3 = []
r4 = []
player_name = []
fedex_cup_points = []
official_money = []
position = []
score = []
tournament_name = []
tournament_id = []

for i,j in ids.items():
    payload = {"operationName":"TournamentPastResults","variables":{"tournamentPastResultsId":j,"year":None},"query":"query TournamentPastResults($tournamentPastResultsId: ID!, $year: Int) {\n  tournamentPastResults(id: $tournamentPastResultsId, year: $year) {\n    id\n    teams {\n      teamId\n      position\n      players {\n        id\n        firstName\n        lastName\n        shortName\n        displayName\n        abbreviations\n        abbreviationsAccessibilityText\n        amateur\n        country\n        countryFlag\n        lineColor\n        seed\n        status\n      }\n      rounds {\n        score\n        parRelativeScore\n      }\n      additionalData\n      total\n      parRelativeScore\n    }\n    rounds\n    additionalDataHeaders\n    availableSeasons {\n      year\n      displaySeason\n    }\n    winner {\n      id\n      firstName\n      lastName\n      totalStrokes\n      totalScore\n      countryFlag\n      countryName\n      purse\n      points\n      seed\n      displayPoints\n      displayPurse\n    }\n    winningTeam {\n      id\n      firstName\n      lastName\n      totalStrokes\n      totalScore\n      countryFlag\n      countryName\n      purse\n      points\n      seed\n      displayPoints\n      displayPurse\n    }\n    players {\n      id\n      position\n      player {\n        id\n        firstName\n        lastName\n        shortName\n        displayName\n        abbreviations\n        abbreviationsAccessibilityText\n        amateur\n        country\n        countryFlag\n        lineColor\n        seed\n        status\n      }\n      rounds {\n        score\n        parRelativeScore\n      }\n      additionalData\n      total\n      parRelativeScore\n    }\n  }\n}"}

    url = 'https://orchestrator.pgatour.com/graphql'

    response = requests.post(url, json = payload, headers = {'X-Api-Key':
    'da2-gsrx5bibzbb4njvhl7t37wqyl4'})

    results = response.json()


    for player in results['data']['tournamentPastResults']['players']:
        try:
            r3.append(player['rounds'][2]['score'])
            r4.append(player['rounds'][3]['score'])
            player_name.append(player['player']['displayName'])
            fedex_cup_points.append(player['additionalData'][0])
            official_money.append(player['additionalData'][1])
            position.append(player['position'])
            score.append(player['parRelativeScore'])
            tournament_name.append(j) 
            tournament_id.append(i) 
            r1.append(player['rounds'][0]['score'])
            r2.append(player['rounds'][1]['score'])
            
        except:
            break

In [38]:
data = {'tournament_name': tournament_id,
        'tournament_id' : tournament_name,
        'player_name' : player_name,
        'position' : position,
        'score' : score,
        'r1' : r1,
        'r2' : r2,
        'r3' : r3,
        'r4' : r4,
        'fedex_cup_points' : fedex_cup_points,
        'official_money' : official_money,
        }

df = pd.DataFrame(data)

In [39]:
cleaned = []

for a in df['official_money']:
    cleaned.append(a.split('$')[1].replace(',',''))

df['official_money'] = cleaned
df

,tournament_name,tournament_id,player_name,position,score,r1,r2,r3,r4,fedex_cup_points,official_money
0,WM Phoenix Open,R2024003,Nick Taylor,1,-21,60,70,68,65,500.000,1584000.00
1,WM Phoenix Open,R2024003,Charley Hoffman,2,-21,67,68,64,64,300.000,959200.00
2,WM Phoenix Open,R2024003,Sam Burns,T3,-18,68,67,67,64,162.500,519200.00
3,WM Phoenix Open,R2024003,Scottie Scheffler,T3,-18,68,66,66,66,162.500,519200.00
4,WM Phoenix Open,R2024003,Sahith Theegala,5,-17,65,64,69,69,110.000,360800.00
...,...,...,...,...,...,...,...,...,...,...,...
460,Valspar Championship,R2024475,Hayden Springer,T72,+5,67,73,71,78,2.700,16716.00
461,Valspar Championship,R2024475,Ryan Brehm,T72,+5,70,70,77,72,2.700,16716.00
462,Valspar Championship,R2024475,Bronson Burgoon,T75,+10,70,71,79,74,2.400,16212.00
463,Valspar Championship,R2024475,Alejandro Tosti,T75,+10,68,73,76,77,2.400,16212.00
464,Valspar Championship,R2024475,David Skinns,T75,+10,75,67,74,78,2.400,16212.00

In [46]:
df.to_csv('/Users/Zack Burnside/Desktop/tournament_results.csv')

In [41]:
df[df['player_name'] == 'Sam Burns']

,tournament_name,tournament_id,player_name,position,score,r1,r2,r3,r4,fedex_cup_points,official_money
2,WM Phoenix Open,R2024003,Sam Burns,T3,-18,68,67,67,64,162.500,519200.00
84,The Genesis Invitational,R2024007,Sam Burns,T10,-8,70,71,68,67,150.000,455000.00
288,Arnold Palmer Invitational,R2024009,Sam Burns,T30,+1,68,72,71,78,37.500,123500.00
364,THE PLAYERS Championship,R2024011,Sam Burns,T45,-4,73,70,65,76,14.063,70062.50

In [45]:
df[df['tournament_name'] == 'Cognizant Classic']

,tournament_name,tournament_id,player_name,position,score,r1,r2,r3,r4,fedex_cup_points,official_money
189,Cognizant Classic,R2024010,Austin Eckroat,1,-17,65,67,68,67,500.000,1620000.00
190,Cognizant Classic,R2024010,Min Woo Lee,T2,-14,67,70,66,67,245.000,801000.00
191,Cognizant Classic,R2024010,Erik van Rooyen,T2,-14,66,71,70,63,245.000,801000.00
192,Cognizant Classic,R2024010,David Skinns,T4,-13,65,69,66,71,104.000,344250.00
193,Cognizant Classic,R2024010,Shane Lowry,T4,-13,67,67,66,71,104.000,344250.00
...,...,...,...,...,...,...,...,...,...,...,...
252,Cognizant Classic,R2024010,Justin Rose,T64,-1,69,71,73,70,4.100,19440.00
253,Cognizant Classic,R2024010,Mark Hubbard,T64,-1,68,72,73,70,4.100,19440.00
254,Cognizant Classic,R2024010,J.T. Poston,66,E,69,71,69,75,3.800,19170.00
255,Cognizant Classic,R2024010,Camilo Villegas,T67,+1,69,71,77,68,3.500,18900.00
256,Cognizant Classic,R2024010,S.H. Kim,T67,+1,64,74,75,72,3.500,18900.00

In [43]:
df.groupby('tournament_name')['score'].count().index[0]

'Arnold Palmer Invitational'