In [1]:
import pandas as pd
import requests


ids = {'WM Phoenix Open': 'R2024003','The Genesis Invitational': 'R2024007',
       'Mexico Open at Vidanta':'R2024540','Cognizant Classic':'R2024010',
       'Arnold Palmer Invitational':'R2024009', 
       'THE PLAYERS Championship':'R2024011', "Texas Children's Houston Open": 'R2024020',
       'Valspar Championship':'R2024475',
       'The Valero Texas Open': 'R2023041'}

r1 = []
r2 = []
r3 = []
r4 = []
player_name = []
fedex_cup_points = []
official_money = []
position = []
score = []
tournament_name = []
tournament_id = []

for i,j in ids.items():
    payload = {"operationName":"TournamentPastResults","variables":{"tournamentPastResultsId":j,"year":None},"query":"query TournamentPastResults($tournamentPastResultsId: ID!, $year: Int) {\n  tournamentPastResults(id: $tournamentPastResultsId, year: $year) {\n    id\n    teams {\n      teamId\n      position\n      players {\n        id\n        firstName\n        lastName\n        shortName\n        displayName\n        abbreviations\n        abbreviationsAccessibilityText\n        amateur\n        country\n        countryFlag\n        lineColor\n        seed\n        status\n      }\n      rounds {\n        score\n        parRelativeScore\n      }\n      additionalData\n      total\n      parRelativeScore\n    }\n    rounds\n    additionalDataHeaders\n    availableSeasons {\n      year\n      displaySeason\n    }\n    winner {\n      id\n      firstName\n      lastName\n      totalStrokes\n      totalScore\n      countryFlag\n      countryName\n      purse\n      points\n      seed\n      displayPoints\n      displayPurse\n    }\n    winningTeam {\n      id\n      firstName\n      lastName\n      totalStrokes\n      totalScore\n      countryFlag\n      countryName\n      purse\n      points\n      seed\n      displayPoints\n      displayPurse\n    }\n    players {\n      id\n      position\n      player {\n        id\n        firstName\n        lastName\n        shortName\n        displayName\n        abbreviations\n        abbreviationsAccessibilityText\n        amateur\n        country\n        countryFlag\n        lineColor\n        seed\n        status\n      }\n      rounds {\n        score\n        parRelativeScore\n      }\n      additionalData\n      total\n      parRelativeScore\n    }\n  }\n}"}

    url = 'https://orchestrator.pgatour.com/graphql'

    response = requests.post(url, json = payload, headers = {'X-Api-Key':
    'da2-gsrx5bibzbb4njvhl7t37wqyl4'})

    results = response.json()


    for player in results['data']['tournamentPastResults']['players']:
        try:
            r3.append(player['rounds'][2]['score'])
            r4.append(player['rounds'][3]['score'])
            player_name.append(player['player']['displayName'])
            fedex_cup_points.append(player['additionalData'][0])
            official_money.append(player['additionalData'][1])
            position.append(player['position'])
            score.append(player['parRelativeScore'])
            tournament_name.append(j) 
            tournament_id.append(i) 
            r1.append(player['rounds'][0]['score'])
            r2.append(player['rounds'][1]['score'])
            
        except:
            break

In [2]:
data = {'tournament_name': tournament_id,
        'tournament_id' : tournament_name,
        'player_name' : player_name,
        'position' : position,
        'score' : score,
        'r1' : r1,
        'r2' : r2,
        'r3' : r3,
        'r4' : r4,
        'fedex_cup_points' : fedex_cup_points,
        'official_money' : official_money,
        }

df = pd.DataFrame(data)

In [3]:
cleaned = []

for a in df['official_money']:
    cleaned.append(a.split('$')[1].replace(',',''))

df['official_money'] = cleaned
df

,tournament_name,tournament_id,player_name,position,score,r1,r2,r3,r4,fedex_cup_points,official_money
0,WM Phoenix Open,R2024003,Nick Taylor,1,-21,60,70,68,65,500.000,1584000.00
1,WM Phoenix Open,R2024003,Charley Hoffman,2,-21,67,68,64,64,300.000,959200.00
2,WM Phoenix Open,R2024003,Sam Burns,T3,-18,68,67,67,64,162.500,519200.00
3,WM Phoenix Open,R2024003,Scottie Scheffler,T3,-18,68,66,66,66,162.500,519200.00
4,WM Phoenix Open,R2024003,Sahith Theegala,5,-17,65,64,69,69,110.000,360800.00
...,...,...,...,...,...,...,...,...,...,...,...
625,The Valero Texas Open,R2023041,Ryo Hisatsune,T78,+6,71,74,72,77,2.100,17204.00
626,The Valero Texas Open,R2023041,Beau Hossler,T78,+6,74,71,75,74,2.100,17204.00
627,The Valero Texas Open,R2023041,Ben Kohles,T78,+6,74,71,76,73,2.100,17204.00
628,The Valero Texas Open,R2023041,Ben Silverman,81,+7,71,72,79,73,1.900,16836.00
629,The Valero Texas Open,R2023041,Ryan McCormick,82,+10,72,73,80,73,1.800,16652.00

In [4]:
df.to_csv('/Users/Zack Burnside/Desktop/tournament_results.csv')

In [5]:
df[df['player_name'] == 'Sam Burns']

,tournament_name,tournament_id,player_name,position,score,r1,r2,r3,r4,fedex_cup_points,official_money
2,WM Phoenix Open,R2024003,Sam Burns,T3,-18,68,67,67,64,162.500,519200.00
84,The Genesis Invitational,R2024007,Sam Burns,T10,-8,70,71,68,67,150.000,455000.00
288,Arnold Palmer Invitational,R2024009,Sam Burns,T30,+1,68,72,71,78,37.500,123500.00
364,THE PLAYERS Championship,R2024011,Sam Burns,T45,-4,73,70,65,76,14.063,70062.50

In [8]:
df[df['tournament_name'] == 'The Valero Texas Open']

,tournament_name,tournament_id,player_name,position,score,r1,r2,r3,r4,fedex_cup_points,official_money
548,The Valero Texas Open,R2023041,Akshay Bhatia,1,-20,63,70,68,67,500.000,1656000.00
549,The Valero Texas Open,R2023041,Denny McCarthy,2,-20,68,70,67,63,300.000,1002800.00
550,The Valero Texas Open,R2023041,Rory McIlroy,3,-11,69,70,72,66,190.000,634800.00
551,The Valero Texas Open,R2023041,Russell Henley,4,-10,69,69,71,69,135.000,450800.00
552,The Valero Texas Open,R2023041,Brendon Todd,T5,-9,66,72,70,71,105.000,355350.00
...,...,...,...,...,...,...,...,...,...,...,...
625,The Valero Texas Open,R2023041,Ryo Hisatsune,T78,+6,71,74,72,77,2.100,17204.00
626,The Valero Texas Open,R2023041,Beau Hossler,T78,+6,74,71,75,74,2.100,17204.00
627,The Valero Texas Open,R2023041,Ben Kohles,T78,+6,74,71,76,73,2.100,17204.00
628,The Valero Texas Open,R2023041,Ben Silverman,81,+7,71,72,79,73,1.900,16836.00
629,The Valero Texas Open,R2023041,Ryan McCormick,82,+10,72,73,80,73,1.800,16652.00

In [7]:
df.groupby('tournament_name')['score'].count().index[0]

'Arnold Palmer Invitational'