In [103]:
import pandas as pd
import requests


ids = ['R2024008','R2024009','R2024010', 'R2024011']

r1 = []
r2 = []
r3 = []
r4 = []
player_name = []
fedex_cup_points = []
official_money = []
position = []
score = []
tournament_name = []

for i in ids:
    payload = {"operationName":"TournamentPastResults","variables":{"tournamentPastResultsId":i,"year":None},"query":"query TournamentPastResults($tournamentPastResultsId: ID!, $year: Int) {\n  tournamentPastResults(id: $tournamentPastResultsId, year: $year) {\n    id\n    teams {\n      teamId\n      position\n      players {\n        id\n        firstName\n        lastName\n        shortName\n        displayName\n        abbreviations\n        abbreviationsAccessibilityText\n        amateur\n        country\n        countryFlag\n        lineColor\n        seed\n        status\n      }\n      rounds {\n        score\n        parRelativeScore\n      }\n      additionalData\n      total\n      parRelativeScore\n    }\n    rounds\n    additionalDataHeaders\n    availableSeasons {\n      year\n      displaySeason\n    }\n    winner {\n      id\n      firstName\n      lastName\n      totalStrokes\n      totalScore\n      countryFlag\n      countryName\n      purse\n      points\n      seed\n      displayPoints\n      displayPurse\n    }\n    winningTeam {\n      id\n      firstName\n      lastName\n      totalStrokes\n      totalScore\n      countryFlag\n      countryName\n      purse\n      points\n      seed\n      displayPoints\n      displayPurse\n    }\n    players {\n      id\n      position\n      player {\n        id\n        firstName\n        lastName\n        shortName\n        displayName\n        abbreviations\n        abbreviationsAccessibilityText\n        amateur\n        country\n        countryFlag\n        lineColor\n        seed\n        status\n      }\n      rounds {\n        score\n        parRelativeScore\n      }\n      additionalData\n      total\n      parRelativeScore\n    }\n  }\n}"}

    url = 'https://orchestrator.pgatour.com/graphql'

    response = requests.post(url, json = payload, headers = {'X-Api-Key':
    'da2-gsrx5bibzbb4njvhl7t37wqyl4'})

    results = response.json()


    for player in results['data']['tournamentPastResults']['players']:
        try:
            r3.append(player['rounds'][2]['score'])
            r4.append(player['rounds'][3]['score'])
            player_name.append(player['player']['displayName'])
            fedex_cup_points.append(player['additionalData'][0])
            official_money.append(player['additionalData'][1])
            position.append(player['position'])
            score.append(player['parRelativeScore'])
            tournament_name.append(i)  
            r1.append(player['rounds'][0]['score'])
            r2.append(player['rounds'][1]['score'])
            
        except:
            break

In [104]:
data = {'tournament_name': tournament_name,
        'player_name' : player_name,
        'position' : position,
        'score' : score,
        'r1' : r1,
        'r2' : r2,
        'r3' : r3,
        'r4' : r4,
        'fedex_cup_points' : fedex_cup_points,
        'official_money' : official_money,
        }

df = pd.DataFrame(data)

In [105]:
df

,tournament_name,player_name,position,score,r1,r2,r3,r4,fedex_cup_points,official_money
0,R2024009,Scottie Scheffler,1,-15,70,67,70,66,700.000,"$4,000,000.00"
1,R2024009,Wyndham Clark,2,-10,71,66,71,70,400.000,"$2,200,000.00"
2,R2024009,Shane Lowry,3,-9,66,71,70,72,350.000,"$1,400,000.00"
3,R2024009,Will Zalatoris,T4,-7,69,69,71,72,312.500,"$920,000.00"
4,R2024009,Russell Henley,T4,-7,68,69,72,72,312.500,"$920,000.00"
...,...,...,...,...,...,...,...,...,...,...
194,R2024011,Patrick Cantlay,T68,+2,72,70,73,75,5.950,"$51,500.00"
195,R2024011,Peter Malnati,T68,+2,70,73,66,81,5.950,"$51,500.00"
196,R2024011,Rickie Fowler,T68,+2,74,69,76,71,5.950,"$51,500.00"
197,R2024011,Gary Woodland,72,+3,70,73,74,74,5.550,"$50,250.00"
198,R2024011,Keith Mitchell,73,+4,69,71,76,76,5.400,"$49,750.00"

In [99]:
df.to_csv('/Users/Zack Burnside/Desktop/tournament_results.csv')